@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

.keycapContainer {
  height: 100vh;
  width: 100vw;
  background-color: #0e0e0e;
  position: relative;
}

.keycap {
  background-color: #7ec90e;
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  position: absolute;
}

.keycap > div {
  background-color: #9cf713;
  width: 2.9rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-size: 1.7rem;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #242424;
}

.wrapperUp {
  position: absolute;
  left: 900px;
  animation: x-Axys-up 1s linear;
  transition: all;
}

.up {
  top: 320px;
  animation: y-Axys-up 1s ease-in-out;
  transition: all;
}
.up > div {
  animation: x-Axys-up 1.1s linear;
  transition: all;
}
@keyframes x-Axys-up {
  0% {
    left: 600px;
    background-color: #fafafa;
  }
  50% {
    left: 900px;
    background-color: #fafafa;
  }
  100% {
    background-color: #9cf713;
    left: 900px;
  }
}

@keyframes y-Axys-up {
  0% {
    transform: scale(0.3);
    top: 150px;
    background-color: #eceaea;
  }
  50% {
    transform: scale(1);
    top: 320px;
    background-color: #eceaea;
  }
  64% {
    transform: scale(0.8);
  }
  74% {
    transform: scale(1.2);
  }
  84% {
    transform: scale(0.8);
  }
  94% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #7ec90e;
  }
}

.wrapperLeft {
  position: absolute;
  left: 840px;
  transition: all;
  animation: x-Axys-left 0.5s linear;
  
}
.left {
  top: 380px;
  animation: y-Axys-left 0.5s ease-in-out;
  background-color: #eceaea;
}

.left > div {
  background-color: #fafafa;
}

@keyframes x-Axys-left {
  0% {
    left: 600px;
  }
}

@keyframes y-Axys-left {
  0% {
    transform: scale(0.3);
    top: 550px;
  }
}
.wrapperRigth {
  position: absolute;
  left: 960px;
  transition: all;
  animation: x-Axys-rigth 1.1s linear;
}
.rigth {
  top: 380px;
  animation: y-Axys-rigth 1.1s ease-in-out;
}
.rigth > div {
  animation: x-Axys-rigth 1.1s linear;
  transition: all;
}
@keyframes x-Axys-rigth {
  0% {
    left: 1200px;
    background-color: #fafafa;
  }
  50% {
    left: 960px;
    background-color: #fafafa;
  }
  100% {
    background-color: #9cf713;
    left: 960px;
  }
}

@keyframes y-Axys-rigth {
  0% {
    transform: scale(0.3);
    top: 150px;
  }
  50% {
    transform: scale(1);
    background-color: #eceaea;
    top: 380px;
  }
  64% {
    transform: scale(0.8);
  }
  74% {
    transform: scale(1.2);
  }
  84% {
    transform: scale(0.8);
  }
  94% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #7ec90e;
  }
}

.wrapperBottom {
  position: absolute;
  left: 900px;
  transition: all;
  animation: x-Axys-bottom 1s linear;
}

.bottom {
  top: 380px;
  animation: y-Axys-bottom 1s ease-in-out;
}

.bottom > div {
  animation: x-Axys-bottom 1s ease-in-out;
}
@keyframes x-Axys-bottom {
  0% {
    left: 1200px;
    background-color: #fafafa;
  }
  50% {
    left: 900px;
    background-color: #fafafa;
  }
  100% {
    background-color: #9cf713;
    left: 900px;
  }
}

@keyframes y-Axys-bottom {
  0% {
    transform: scale(0.3);
    top: 650px;
    background-color: #eceaea;
  }
  50% {
    transform: scale(1);
    background-color: #eceaea;
    top: 380px;
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    background-color: #7ec90e;
  }
}

@keyframes changeColor {
  0% {
    background-color: #eceaea;
  }
  50% {
    background-color: #eceaea;
  }
  60% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(1);
  }
  100% {
    background-color: rgb(156, 247, 19);
  }
}
